<!DOCTYPE html>
<html>
  <head>
    <title>MyGit</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2><%= section %> </h2>
    <ul class="sources-list">
      <% commits.forEach(function(commit){ %>
        <li>
          <a href="/sources/<%= branch %>?commit=<%= commit.hash %>"><%= commit.hash %></a>
          <span><%= commit.extraCommitInfo %></span> 
        </li>
      <% }); %>
    </ul>
  </body>
</html>
