<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>MyGit</title>
    <link rel="icon" href="favicon.ico">
    <script src='/scripts/bundle.js'> </script>
  </head>
  <body>
    <img class="git-logo" src="/assets/git-logo.png"/>
    <h1><%= title %></h1>
    <h2><%= section %> </h2>
    <ul class="sources-list">
      <% commits.forEach(function(commit){ %>
        <li>
          <a href="/sources/<%= branch %>?commit=<%= commit.hash %>"><%= commit.hash %></a>
          <span><%= commit.extraCommitInfo %></span> 
        </li>
      <% }); %>
    </ul>
  </body>
</html>
