<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>MyGit</title>
    <script src='/scripts/bundle.js'> </script>
  </head>
  <body>
    <h1> <a href='/'><%= title %></a></h1>
    <h2><%= section %> </h2>
    <h3 class="breadcump"> 
      <% for(key in pathBreadCump) { %>
        <a href="/sources/<%= branch %>?path=<%= pathBreadCump[key] %>" ><%= key %> </a>
      <%} %>
    </h3>
      <p class="file-content"><%= fileContent %></p>
  </body>
</html>
