<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>MyGit</title>
    <script src='/scripts/bundle.js'> </script>
  </head>
  <body>
    <h1> <a href='/'><%= title %></a></h1>
    <h2><%= section %> </h2>
    <h3 class="breadcump">
      <% for(var i=0; i < pathBreadCump.length-1; i++) {%>
          <a href="/sources/<%= branch %>?path=<%= pathBreadCump[i].link %>">
          <%= pathBreadCump[i].linkText %>
          </a> 
      <% } %>
      <span><%= pathBreadCump[pathBreadCump.length-1].linkText %></span>
    </h3>
    <ul class="sources-list">
      <% folders.forEach(function(folder){ %>
        <li>
          <a href="/sources/<%= branch %>?path=<%= folder.sourcePath %>">
            <%= folder.sourceName %>
          </a> 
        </li>
      <% }); %>
      <% files.forEach(function(file){ %>
        <li>
        <% if(commit){ %>
          <a href="/file/<%= commit %>?path=<%= file.sourcePath %>">
            <%= file.sourceName %>
          </a> 
        <% } else{ %>  
          <a href="/file/<%= branch %>?path=<%= file.sourcePath %>">
            <%= file.sourceName %>
          </a>  
        <% } %>
        </li>
      <% }); %>
    </ul>
  </body>
</html>
