<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>MyGit</title>
    <script src='/scripts/bundle.js'> </script>
  </head>
  <body>
    <% include ./app-bar.ejs %>
    <% include ./breadcump.ejs %>
    <ul class="sources-list">
      <% folders.forEach(function(folder){ %>
        <li>
          <a href="/sources/<%= branch %>?path=<%= folder.sourcePath %>">
            <%= folder.sourceName %>
          </a> 
        </li>
      <% }); %>
      <% files.forEach(function(file){ %>
        <li>
        <% if(commit){ %>
          <a href="/file/<%= commit %>?path=<%= file.sourcePath %>">
            <%= file.sourceName %>
          </a> 
        <% } else{ %>  
          <a href="/file/<%= branch %>?path=<%= file.sourcePath %>">
            <%= file.sourceName %>
          </a>  
        <% } %>
        </li>
      <% }); %>
    </ul>
  </body>
</html>
