<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>MyGit</title>
    <script src='/scripts/bundle.js'> </script>
  </head>
  <body>
    <h1> <a href='/'><%= title %></a></h1>
    <h2><%= section %> </h2>
    <h3 class="breadcump">
      <% pathBreadCump.forEach(function(path){ %>
        <a href="/sources/<%= branch %>?path=<%= path.link %>">
          <%= path.linkText %>
        </a> 
      <% }); %>
    </h3>
    <ul class="sources-list">
      <% folders.forEach(function(folder){ %>
        <li>
          <a href="/sources/<%= branch %>?path=<%= folder.sourcePath %>">
            <%= folder.sourceName %>
          </a> 
        </li>
      <% }); %>
      <% files.forEach(function(file){ %>
        <li>
        <% if(commit){ %>
          <a href="/file/<%= commit %>/<%= file.sourcePath %>">
            <%= file.sourceName %>
          </a> 
        <% } else{ %>  
          <a href="/file/<%= branch %>/<%= file.sourcePath %>">
            <%= file.sourceName %>
          </a>  
        <% } %>
        </li>
      <% }); %>
    </ul>
  </body>
</html>
