<!DOCTYPE html>
<html>
  <head>
    <title>MyGit</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2><%= section %> </h2>
    <ul class="sources-list">
      <% folders.forEach(function(folder){ %>
        <li>
          <a href="/sources/<%= branch %>?path=<%= folder.sourcePath %>">
            <%= folder.sourceName %>
          </a> 
        </li>
      <% }); %>
      <% files.forEach(function(file){ %>
        <li>
          <span><%= file.sourceName %></span> 
        </li>
      <% }); %>
    </ul>
  </body>
</html>
