<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>MyGit</title>
    <link rel="icon" href="favicon.ico">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2><%= section %> </h2>
    <ul class="sources-list">
      <% folders.forEach(function(folder){ %>
        <li>
          <a href="/sources/<%= branch %>?path=<%= folder.sourcePath %>">
            <%= folder.sourceName %>
          </a> 
        </li>
      <% }); %>
      <% files.forEach(function(file){ %>
        <li>
        <% if(commit){ %>
          <a href="/file/<%= commit %>/<%= file.sourcePath %>">
            <%= file.sourceName %>
          </a> 
        <% } else{ %>  
          <a href="/file/<%= branch %>/<%= file.sourcePath %>">
            <%= file.sourceName %>
          </a>  
        <% } %>
        </li>
      <% }); %>
    </ul>
  </body>
</html>
