<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>MyGit</title>
    <script src='/scripts/bundle.js'> </script>
  </head>
  <body>
    <% include ./app-bar.ejs %>
    <% include ./breadcump.ejs %>
    <ul class="sources-list">
      <% folders.forEach(function(folder){ %>
        <% if(commit){ %>
          <li class="sources-list__element" >
            <a href="/sources/<%= branch %>?commit=<%= commit %>&path=<%= folder.sourcePath %>">
              <%= folder.sourceName %>
            </a> 
          </li class="sources-list__element" >
        <% } else{ %>  
          <li class="sources-list__element" >
            <a href="/sources/<%= branch %>?path=<%= folder.sourcePath %>">
              <%= folder.sourceName %>
            </a> 
          </li class="sources-list__element" >
        <% } %>

      <% }); %>
      <% files.forEach(function(file){ %>
        <li class="sources-list__element" >
        <% if(commit){ %>
          <a href="/file/<%= branch %>?commit=<%= commit %>&path=<%= file.sourcePath %>">
            <%= file.sourceName %>
          </a>
        <% } else{ %>  
          <a href="/file/<%= branch %>?path=<%= file.sourcePath %>">
            <%= file.sourceName %>
          </a> 
        <% } %>
        </li class="sources-list__element" >
      <% }); %>
    </ul>
  </body>
</html>
